In [1]:
import java.io.File
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.hive.HiveContext

val hiveContext = new HiveContext(sc)
val warehouseLocation = "hdfs://namenode:8020/user/hive/warehouse"
val data_base = "db_nubank"
var table = ""
var dir_path = warehouseLocation + "/" + data_base + ".db/" + table
var db_table = data_base + "." + table

spark.sql("use db_nubank")

Intitializing Scala interpreter ...

Spark Web UI available at http://8ea9f1e3afef:4040
SparkContext available as 'sc' (version = 3.0.2, master = local[*], app id = local-1615748011742)
SparkSession available as 'spark'

import java.io.File
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.hive.HiveContext
hiveContext: org.apache.spark.sql.hive.HiveContext = org.apache.spark.sql.hive.HiveContext@209d5f51
warehouseLocation: String = hdfs://namenode:8020/user/hive/warehouse
data_base: String = db_nubank
table: String = ""
dir_path: String = hdfs://namenode:8020/user/hive/warehouse/db_nubank.db/
db_table: String = db_nubank.
res0: org.apache.spark.sql.DataFrame = []

In [4]:
val df_transfer_union = spark.read.format("csv").option("header", "true").load("file:///dataset/nubank/out_transfer_union/part-00000-5bfcdad5-e389-4763-abd1-4439eb7b3d71-c000.csv")
df_transfer_union.createOrReplaceTempView("tmp_transfer_union")
df_transfer_union.printSchema()

// val df_transfer_union_distinct = df_transfer_union.select("account_id","action_month","action_year").where($"flag_is_pix" === 1).distinct()
val df_transfer_union_distinct = df_transfer_union.select("account_id","action_month","action_year","flag_is_pix").distinct()
df_transfer_union_distinct.createOrReplaceTempView("tmp_transfer_union_distinct")
df_transfer_union_distinct.printSchema()

root
 |-- id: string (nullable = true)
 |-- account_id: string (nullable = true)
 |-- status: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- action_timestamp: string (nullable = true)
 |-- action_month: string (nullable = true)
 |-- action_year: string (nullable = true)
 |-- flag_is_pix: string (nullable = true)

root
 |-- account_id: string (nullable = true)
 |-- action_month: string (nullable = true)
 |-- action_year: string (nullable = true)
 |-- flag_is_pix: string (nullable = true)

df_transfer_union: org.apache.spark.sql.DataFrame = [id: string, account_id: string ... 6 more fields]
df_transfer_union_distinct: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [account_id: string, action_month: string ... 2 more fields]

In [5]:
val sql_pix_client = """select t1.action_year,t1.action_month,count(1) number_new_pix_transfer
from tmp_transfer_union_distinct t1
where not exists (select 1 
                  from tmp_transfer_union_distinct t2
                  where t2.account_id = t1.account_id 
                  and t2.flag_is_pix = t1.flag_is_pix
                  and concat(cast(t2.action_year as string),lpad(cast(t2.action_month as string),2,'0'))  
                        < concat(cast(t1.action_year as string),lpad(cast(t1.action_month as string),2,'0')) 
                  )
and flag_is_pix = 1                  
group by t1.action_year,t1.action_month
order by cast(t1.action_year as int),cast(t1.action_month as int)"""

val sql_no_pix_client = """select t1.action_year,t1.action_month,count(1) number_new_pix_transfer
from tmp_transfer_union_distinct t1
where not exists (select 1 
                  from tmp_transfer_union_distinct t2
                  where t2.account_id = t1.account_id 
                  and t2.flag_is_pix = t1.flag_is_pix
                  and concat(cast(t2.action_year as string),lpad(cast(t2.action_month as string),2,'0'))  
                        =< concat(cast(t1.action_year as string),lpad(cast(t1.action_month as string),2,'0')) 
                  )
and flag_is_pix = 1                  
group by t1.action_year,t1.action_month
order by cast(t1.action_year as int),cast(t1.action_month as int)"""


val sql_number_trans = """select action_year
,action_month
,flag_is_pix
,count(1) number_trans 
from  transfer_union
group by action_year,action_month,flag_is_pix
order by action_year,action_month"""

val sql_value_trans = """select action_year
,action_month
,flag_is_pix
,round(sum(case when amount > 0 then amount else 0 end),2) value_trans_in
,round(sum(case when amount < 0 then amount else 0 end),2) value_trans_out 
from  transfer_union
group by action_year,action_month,flag_is_pix
order by action_year,action_month"""

val df_pix_client = spark.sql(sql_pix_client)
val df_no_pix_client = spark.sql(sql_no_pix_client)
val df_number_trans = spark.sql(sql_number_trans)
val df_value_trans = spark.sql(sql_value_trans)

df_pix_client.show(false)
df_no_pix_client.show(false)
// df_number_trans.show(false)
// df_value_trans.show(false)

+-----------+------------+-----------------------+
|action_year|action_month|number_new_pix_transfer|
+-----------+------------+-----------------------+
|2020       |1           |3604                   |
|2020       |2           |191                    |
|2020       |3           |78                     |
|2020       |4           |33                     |
|2020       |5           |31                     |
|2020       |6           |13                     |
|2020       |7           |8                      |
|2020       |8           |7                      |
|2020       |9           |6                      |
|2020       |10          |4                      |
|2020       |11          |1                      |
|2020       |12          |2                      |
+-----------+------------+-----------------------+

+-----------+------------+-----------+------------+
|action_year|action_month|flag_is_pix|number_trans|
+-----------+------------+-----------+------------+
|2020       |1           |0          |20192       |
|2020       |1           |1          |20247       |
|2020       |2           |0          |18878       |
|2020       |2           |1          |18702       |
|2020       |3           |0          |20203       |
|2020       |3           |1          |20044       |
|2020       |4           |1          |19617       |
|2020       |4           |0          |19572       |
|2020       |5           |1          |20063       |
|2020       |5           |0          |20433       |
|2020       |6           |0          |19621       |
|2020       |6           |1          |19579       |
|2020       |7           |1          |20244       |
|2020       |7           |0          |20283       |
|2020       |8           |0          |20388       |
|2020       |8           |1          |20203       |
|2020       |9           |0          |19692       |
|2020       |9           |1          |19550       |
|2020       |10          |1          |20119       |
|2020       |10          |0          |20171       |
+-----------+------------+-----------+------------+
only showing top 20 rows

+-----------+------------+-----------+--------------+---------------+
|action_year|action_month|flag_is_pix|value_trans_in|value_trans_out|
+-----------+------------+-----------+--------------+---------------+
|2020       |1           |1          |1.008910707E7 |-1.007698183E7 |
|2020       |1           |0          |1.014921669E7 |-1.003352182E7 |
|2020       |2           |1          |9316321.16    |-9419401.58    |
|2020       |2           |0          |9521759.04    |-9377647.81    |
|2020       |3           |0          |1.02288407E7  |-1.010037799E7 |
|2020       |3           |1          |9983029.92    |-1.01818131E7  |
|2020       |4           |0          |9820680.16    |-9715415.53    |
|2020       |4           |1          |9763513.6     |-9809649.78    |
|2020       |5           |0          |1.003665278E7 |-1.041122139E7 |
|2020       |5           |1          |9958232.57    |-1.000284129E7 |
|2020       |6           |1          |9756919.55    |-9882036.8     |
|2020       |6           |0          |9724071.56    |-9786307.77    |
|2020       |7           |0          |9965762.64    |-1.038331368E7 |
|2020       |7           |1          |1.022150896E7 |-9923928.89    |
|2020       |8           |1          |1.031927092E7 |-9975195.9     |
|2020       |8           |0          |1.012088881E7 |-1.033778242E7 |
|2020       |9           |1          |9791918.32    |-9756092.38    |
|2020       |9           |0          |9825125.17    |-9849641.77    |
|2020       |10          |0          |1.014790377E7 |-1.005110026E7 |
|2020       |10          |1          |1.007737342E7 |-9918138.71    |
+-----------+------------+-----------+--------------+---------------+
only showing top 20 rows

sql_pix_client: String =
select t1.action_year,t1.action_month,count(1) number_new_pix_transfer
from tmp_transfer_union_distinct t1
where not exists (select 1
                  from tmp_transfer_union_distinct t2
                  where t2.account_id = t1.account_id
                  and t2.flag_is_pix = t1.flag_is_pix
                  and concat(cast(t2.action_year as string),lpad(cast(t2.action_month as string),2,'0'))
                        < concat(cast(t1.action_year as string),lpad(cast(t1.action_month as string),2,'0'))
                  )
and flag_is_pix = 1
group by t1.action_year,t1.action_month
order by cast(t1.action_year as int),cast(t1.action_month as int)
sql_number_trans: String =
select action_year
,action_month
,flag_is_pix
,count(1) number_trans
from  transfer_union...